<!DOCTYPE html>
<html>

<head>
    <title>Pat's DataCamp certificates</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/datacamp.css') }}">
</head>

<body>
    <div id="title">
        <h2>Pat's DataCamp Certificates</h2>
        <a href="https://www.datacamp.com">https://www.datacamp.com/</a>
    </div>

    <div id="content">
        <img src="{{path_certs_wordcloud}}" alt="certs-wordcloud">
        <ul>
            {% for course in courses_list %}
            <li>{{course|safe}}</li>
            {% endfor %}
        </ul>
        <p align="justify">{{wordcloud_description|safe}}</p>
        <p align="justify">{{web_app_description|safe}}</p>
    </div>
</body>

</html>
